<h2>Songs</h2>

<div class="list-group">
    {{#each songs}}
    <a href="{{this._id}}" class="list-group-item list-group-item-action">
        {{this.title}} ({{this.year}})
    </a>
    {{/each}}
</div>