.pb-56 {
  padding-bottom: 56px; 
}

.pb-220 {
  padding-bottom: 300px; 
}

.genresContainer {
  display: flex;
  flex-wrap: wrap;
}

.genresDiv {
  width: 148px;
}

.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

.bg-gainsboro {
  background-color: lightblue;
}

.width-320 {
  width: 320px !important;
}